.footer {
    margin-top: 10px;
    background-color: black;
    text-align: center;
    padding: 10px;
    position: relative;
}

.footerAbout {
    color: whitesmoke;
    cursor: pointer;
}

.footerContact {
    color: whitesmoke;
    padding: 10px;
}