.tagCards {
    text-align: center;
    font-family: monospace;
    width: 100%;
    background-color: gainsboro;
    line-height: 35px;
    border-left: 1px solid white;
}

.tagCardLinks {
    text-decoration: none;
    color: crimson;
}
