.profile-header {
    display: flex;
}

.profile-header-pic {
    margin-left: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.profile-header-name {
    align-self: center;
    font-size: 22px;
    font-weight: 600;
    margin-left: 30px;
}