.headerSearchInput {
    position: absolute;
    width: 100px;
    right: 0;
    margin: 6px;
    height: 25px;
    font-size: 16px;
    border: 1px solid black;
    padding-left: 5px;
    transition: .4s;
}

.headerSearchInput:focus {
    left: 0;
    width: 100%;
    margin: 0;
    position: fixed;
    height: 35px;
}

.searchingList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
}

.searchingListItem {
    padding: 10px;
    border-bottom: 1px solid black;
}

.searchingListItemLink {
    text-decoration: none;
}