.searchingList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: scroll;
}

.searchingListItem {
    padding: 10px;
    border-bottom: 1px solid black;
}

.searchingListItem:hover {
    background-color: gainsboro;
}

.searchingListItemLink {
    text-decoration: none;
}