.shayariCard {
    margin: 5px;
    padding: 5px;
}

.shayariCardHeader {
    display: flex;
    justify-content: flex-end;
}

.shayariCardTitle {
    color: crimson;
    font-weight: 600;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.shayariCardContent {
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 1rem;
    white-space: pre-wrap;
    text-align: center;
}

.shayariCardLinks {
    float: left;
}

.copyBtn {
    border: 1px solid black;
    background-color: white;
    font-family: monospace;
}

.relatedLinks {
    text-decoration: none;
    vertical-align: super;
    font-family: monospace;
    font-size: 16px;
}

.shayariCardPoet {
    font-family: monospace;
    text-transform: capitalize;
    float: right;
    margin-top: -1rem;
}