@media only screen and (min-width: 600px) {
    html {
        width: 600px;
        margin: auto;
    }
}

.drawerTextLink {
    text-decoration: none;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.headerMenuIcon {
    
}

.headerName {
    font-size: 28px;
    vertical-align: top;
    margin-left: 10px;
}

.link {
    text-decoration: none;
    color: black;
    color: crimson;
}