body {
    
}

.text-div {
    flex: 1;
    font-size: 25px;
    display: flex;
}

ol {
    margin-top: 30px;
}

li {
    padding: 6px;
}

#home {
    background-color: #21D4FD; 
    height: 100vh;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

#functions {
}